<!DOCTYPE html>
<html>
<head>
    <title>User HDB Searches</title>
</head>
<body>
    <h1>User HDB Searches</h1>
    <ul>
        {% for search in searches %}
            <li>
                <a href="{% url 'user_hdb_search_detail' search.pk %}">{{ search.town }} - {{ search.flat_type }}</a>
                <form action="{% url 'user_hdb_search_delete' search.pk %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit">Delete</button>
                </form>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'user_hdb_search_create' %}">Create New Search</a>
</body>
</html>